.mail-filter {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.mail-filter .search-img {
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.mail-filter .search-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.mail-filter input {
    background-color: white;
    height: 40px;
    border: 0;
    padding: 0 10px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.mail-filter input:focus {
    outline: 0;
}