.app-header {
    height: 110px;
    padding: 10px 40px;
    background-color: #84a59d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #d9fff5;
    border-bottom: 8px #95bdb3 solid;
    box-shadow: 2px 17px 39px 7px rgba(86, 107, 102, 0.63);
    font-family: klee;
}

.app-header .main-logo {
    height: 70px;
    display: flex;
    align-items: center;
    color: inherit;
}

.app-header .main-logo h1 {
    font-size: 2.2rem;
    margin: 0;
}

.app-header .main-logo img {
    height: 100%;
}

.app-header .logos {
    height: 60px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.app-header .book-logo,
.app-header .keep-logo {
    height: 80%;
    mix-blend-mode: multiply;
    transition: transform 0.5s;
}

.app-header .mail-logo {
    mix-blend-mode: multiply;
    height: 90%;
    transition: transform 0.5s;
}

.app-header img {
    height: 100%;
}

.app-header .book-logo:hover,
.keep-logo:hover,
.mail-logo:hover {
    /* mix-blend-mode: multiply; */
    transform: scale(1.3);
    cursor: pointer;
}